# CLAUDE.md
# ARCHITECTURE.md

node_modules
dist

Design/


.kombai
.vscode

*.env

# FRONTEND-STRUCTURE.md

new-project-2/

# /index.html
post/

new-project/

graded-project/book/Design
graded-project/book/frontend
graded-project/book/*.md
graded-project/pets/*.md
graded-project/pets/Design
graded-project/pets/frontend

new-homework/

todo-deployed/frontend/js/*.md
todo-class-practice/frontend/js*.md